*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    /*background: linear-gradient(to right,#159957,#155799);*/
  /*  background: linear-gradient(to right,#000046,#1CB5E0);*/
 background: linear-gradient(to right,#007991,#78ffd6);
 /* background: linear-gradient(to right,#4AC29A,#BDFFF3);*/
}
#secao_principal{
    display: block;
    margin: 0px 25px;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}

/*design da parte onde tem os dois container dos sintomas e parte do precausoes*/
#container_sin_pre{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 0;
    padding: 25px 0;
    border-style: none;
    border-radius: 15px;
}

.container_figuras{
 outline: olive 1px solid;
 width: 55%;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-content: center;
}
.img_sintoma{
    border-radius: 40%;
    border:none;
    background-color: rgb(0, 0, 0);
}
.img_sintoma1{
    border-radius: 40%;
    border:none;
    background-color: rgb(255, 255, 255);
}
.container_recomendacao{
 width: 45%;
 padding: 25px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}
.recomendacoes{
   
    width: 60%;
    text-indent: 15px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.medico_instrucao{

    width: 40%;
    display: flex;
    justify-content: flex-end;
}


/* FIM design da parte onde tem os dois container dos sintomas e parte do precausoes*/








#painel{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}
#estatistica{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     margin: 25px 0;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(25%-25px);
    height: 200px;
    padding: 10px;
    color: black;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 8px 32px 0 rgba( 225, 255, 255, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    text-align: center;
}


#estatistica_regiao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 8px 32px 0 rgba( 225, 255, 255, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    border: none;

}
.header_estatistica_regiao{
  
   text-align: center;
}

#mapa_regiao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
}
.mapa{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.container_regioes{
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}
.header_regioes{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.column{
    text-align: center;
}
.column1{
    width: 100px;
 
}
.column2{
    width: 100px;
    
}
.column3{
    width: 150px;
}
.regioes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
}
.regiao{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.nome_regiao{
    display: flex;
    justify-self: flex-start;
    position: relative;

}

.casos_regiao{
    display: flex;
    justify-content: flex-end;
}
.regiao:not(:last-child){
    border-bottom: .8px solid rgb(112, 111, 116);
}
.regioes .regiao:not(:first-child) .nome_regiao{
    margin-left: 25px;
}




/*aqui ficara a parte da secao de perguntas dos usuarios para os medicos*/

#secao_perguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 25px 0;
    border-radius: 25px;
    border-style: none;
}
.medicos{
    display: flex;
}
.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}